html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}


body {
    font-family:Arial, Helvetica, sans-serif
}

/** HEADER STYLING **/
header {
    padding: 20px;
    bbackground: #87CEEB;
    background: -moz-linear-gradient(top, #87CEEB 0%, #669BB1 100%);
    background: -webkit-linear-gradient(top, #87CEEB 0%, #669BB1 100%);
    background: linear-gradient(to bottom, #87CEEB 0%, #669BB1 100%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/** just the name **/
header h1 {
    margin: 0%;
    font-size: 36px;
}

/** NAVIGATION BAR **/
header nav {
    margin: 0%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;   
}

header nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 20px;
}

header nav ul li a:hover {
    background:azure;
    border-radius: 15px;
    text-shadow: none;
}

/** HERO IMAGE AND TEXT **/

.hero {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hero-text {
    border: 3px solid #024e76;
    background: #bdac84;
    background: -moz-linear-gradient(top, #bdac84 0%, #C59237 100%, #C59237 100%);
    background: -webkit-linear-gradient(top, #bdac84 0%, #C59237 100%, #C59237 100%);
    background: linear-gradient(to bottom, #bdac84 0%, #C59237 100%, #C59237 100%);
    padding: 20px;
    width: 25%;
    height: 15%;
    margin: 0 3.5% 3.5% 0;
    text-align: center;
    font-size: medium;   
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.hero img {
    width: 25%;
    margin: 3.5% 3.5% 0 0;
}

/** SECTIONS TITLES & FLEX DIVIDERS**/

.flex-row {
    display: flex;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    padding: 0 20px 20px 0;
    text-align: right;
    width: 200px;
}

.section-group {
    display: flex;
    margin: 50px 50px;
}

.primary-border {
    border-right: 4px solid;
    border-color: var(--secondary-color);
}

/** ABOUT ME SECTION **/

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px;  
    width: 90%;
    align-items: center;
  }



/** MEDIA FOR DIFFERENT DEVICES **//

@media screen and (max-width: 768px) {
}



@media screen and (max-width: 575px) {
    .bio {
        margin: 0 10px ;
    }
    .section-title {
        font-size: 22px;
        margin: 0 auto 10px auto;
    }
    .hero-subtitle {
        font-size: 16px;
        padding: 5px;
    }
}


